* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    color: var(--body-text);
}

:root {
    --primary-color: #0366d6;
    --green-bg: #2ea44f;
    --btn-text: #24292e;
    --header-bg: #24292e;
    --btn-bg: #fafbfc;
    --btn-border: #E6E6E7;
    --btn-hover: #f3f4f6;
    --btn-shadow: #24292e;
    --body-text: #586069;
    --repo-border: #eaecef;
    --input-border: #e1e4e8;
    --input-border-secondary: #444d56;
    --input-text: #24292e;
    --icon-bg: #6a737d;
    --nav-bottom-border: #d1d5da
}

h1 {
    font-size: 26px;
    line-height: 33px;
    font-weight: 600;
}

h2 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
}

h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

p.small {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin-top: 0px;
    margin-bottom: 0px;
}

button {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 5px 16px;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: 1px solid var(--btn-border);
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--btn-hover);
}

label {
    font-size: 12px;
}


/* utility classes */

.mr-5 {
    margin-right: 5px;
    /* color: rgb(106, 115, 125) */
}

.-mr-6 {
    margin-right: -6px;
    /* color: rgb(106, 115, 125) */
}

.mb-12 {
    margin-bottom: 12px
}

.smiley {
    color: rgb(106, 115, 125)
}

.icon-bg {
    /* color: var(--icon-bg); */
    color: #6a737d;
}

details {
    position: relative;
}


/* .filter-summary {
    list-style: none;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 5px 16px;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: 1px solid var(--btn-border);
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    text-decoration: none;
    cursor: pointer;
} */

details>summary {
    list-style: none;
}

details>summary::-webkit-details-marker {
    display: none;
    list-style: none;
}

.hide {
    display: none;
}

ul {
    padding: 0
}

ul>li {
    list-style: none;
    text-decoration: none;
}

ul.filter {
    color: var(--body-text);
}

.dropdown-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 4px;
    vertical-align: middle;
    content: "";
    border-top-style: solid;
    border-top-width: 4px;
    border-right: 4px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 4px solid transparent;
}

.header-icon {
    fill: white;
    transition: .5s;
}

.header-icon:hover {
    opacity: 0.8;
}

.dropdown-caret.inverted {
    /* border-color: white; */
    position: absolute;
    top: -10px;
    right: 10px
}

button.stars {
    padding: 3px 12px;
    font-size: 12px;
    line-height: 20px;
}

.icon {
    width: 16px;
    height: 16px;
    margin: 0px 5px;
    fill: #6a737d;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (min-width: 768px) {
    .icon.smiley {
        margin: 0
    }
}

.icon-white {
    fill: white
}

.icon.active {
    fill: var(--btn-text)
}

.profile-status:hover>.icon.smiley: {
    fill: var(--primary-color)
}

.icon.dropdown-icon {
    background-image: url('./images/drop-down-arrow.png');
    width: 12px;
    height: 12px;
    position: absolute;
    top: -10px;
    user-select: none;
    right: -0px;
    transform: rotateZ(180deg);
}

.repo-tag {
    padding: 0 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    border-radius: 2em;
    margin-left: 8px;
    background-color: transparent;
}

.inner-nav {
    font-size: 14px;
    display: flex;
    line-height: 20px;
    font-weight: 400;
}

.filter-options-wrapper {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}

footer {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

a {
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

.blue-text {
    color: var(--primary-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg);
    position: relative;
    padding: 13.5px 16px;
    flex-wrap: wrap;
    color: white;
}

.header-flex {
    order: 8;
    overflow-y: hidden;
    width: 100%;
    font-weight: 500;
    height: 0px;
    transition: all 500ms ease-in-out;
}

.header-flex.open {
    height: auto;
}

.flex-input {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 16px;
}

.search-icon {
    margin-top: -16px;
    position: absolute;
    right: 10px;
}

.header-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 8px 0px;
    color: white;
    border-top: 1px solid var(--input-border);
    border-color: hsla(0, 0%, 100%, 0.15);
}

.header-controls-flex {
    display: flex;
    align-items: center;
}

.header-dropdown-wrapper {
    display: none;
}

.header-search {
    width: 100%;
    border: 1px solid var(--input-border-secondary);
    margin-bottom: 16px;
}

.header-search::placeholder {
    color: white;
}

.hamburger {
    display: block;
}

.menu-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    width: 181px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 8px;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid var(--input-border);
    border-radius: 6px;
    box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
}

.menu-dropdown.smaller {
    width: 160px
}

.inner-menu-dropdown {
    padding: 8px 0px;
    border-top: 1px solid var(--repo-border);
}

.dropdown-item {
    display: block;
    padding: 4px 8px 4px 16px;
    overflow: hidden;
    color: var(--body-text);
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: .5s;
}

.dropdown-item:hover {
    background-color: var(--primary-color);
    color: white;
}

.userhandle {
    padding: 8px 16px;
    font-size: 14px;
    color: var(--body-text);
}

.header-handle,
.handle-el {
    font-weight: 500;
    font-size: 14px;
}

@media (min-width: 768px) {
    header {
        justify-content: start;
        padding-left: 32px;
        padding-right: 18px;
        flex-wrap: nowrap;
        margin-bottom: 13.5px;
    }
    .header-flex {
        display: flex;
        order: 0;
        overflow-y: hidden;
        width: auto;
        flex: auto;
        height: auto;
    }
    .mobile-only,
    .hamburger {
        display: none;
    }
    .header-item {
        border: none;
        margin-right: 16px;
        cursor: pointer;
        transition: all 500ms ease-in-out;
    }
    .header-item:hover {
        opacity: 70%;
    }
    .logo {
        margin-right: 16px;
    }
    .flex-input {
        margin-top: 0px;
        margin-right: 16px;
        max-width: 350px;
    }
    .header-search {
        margin-bottom: 0px;
        margin-top: 0px;
        width: 275px;
        transition: all 500ms ease-in-out;
    }
    input.header-search:focus {
        width: 450px;
    }
    .header-dropdown-wrapper {
        display: flex;
        cursor: pointer;
    }
    .header-controls-flex>*+* {
        margin-right: 16px;
    }
    .header-controls-flex>svg {
        margin-right: 16px;
    }
    .search-icon {
        margin-top: 0px;
    }
    .profile-flex {
        display: flex;
        align-items: center;
    }
}

.container {
    display: block
}

nav {
    z-index: 10;
}

.repo-number {
    display: inline-block;
    min-width: 20px;
    padding: 0 6px;
    margin-left: 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: var(--btn-text);
    text-align: center;
    background-color: rgba(209, 213, 218, 0.5);
    border: 1px solid transparent;
    border-radius: 2em;
}

nav.mobile {
    width: auto;
    overflow-x: auto;
    border-bottom: 1px solid var(--repo-border);
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: -16px;
    margin-right: -16px;
    position: sticky;
    top: 0;
    display: block;
    background-color: white;
}

nav.desktop {
    display: none;
}

.desktop-nav {
    display: none;
}

nav>ul {
    display: flex;
}

.inner-nav-item {
    display: flex;
    align-items: center;
    padding: 8px 9.5px;
    line-height: 30px;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
    cursor: pointer;
}

.inner-nav-item:hover {
    border-bottom: 2px solid var(--nav-bottom-border);
}

.inner-nav-item.active {
    font-weight: 500;
    border-bottom: 2px solid #f9826c;
    color: var(--btn-text);
}

.inner-nav-item.active:hover {
    border-bottom: 2px solid #f9826c;
}

@media (min-width: 768px) {
    .container {
        display: flex
    }
    nav.desktop {
        margin: 0 auto;
        padding: 10px 50px;
        margin-bottom: 16px;
        padding-bottom: 0px;
        z-index: 10;
        background-color: white;
        position: sticky;
        top: -1px;
        display: block;
        border-bottom: 1px solid var(--repo-border);
    }
    .desktop-nav {
        display: flex;
        align-items: flex-end;
        padding-bottom: 0px;
        max-width: 1247px;
        margin-left: auto;
        margin-right: auto;
    }
    nav.mobile {
        display: none;
    }
}

section {
    width: 100%;
    padding: 0px 16px;
}

@media (min-width: 768px) {
    section {
        margin: 0 auto;
        max-width: 1247px;
    }
}

main {
    flex-grow: 1;
}


/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Profile Section Start &&&&&&&&&&&&&&&&&&&&&&&&& */

aside {
    margin-bottom: 40px;
}

.profile-img-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 24px;
}

.profile-image-small-wrapper {
    display: flex;
    align-items: center;
    margin-right: 50px;
    padding-bottom: 10px;
    opacity: 0;
    width: 30vw;
    max-width: 280px;
}

.profile-img {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 15px;
    background-image: url(https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 13;
}

.profile-img.small {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 15px;
    background-image: url(https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.language-used {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid rgba(27, 31, 35, 0.1);
    background-color: black;
}

.profile-img.smallest {
    width: 20px;
    height: 20px;
}

.profile-name>h1 {
    font-weight: 500;
    color: var(--btn-text);
}

.handle {
    font-size: 20px;
    font-weight: 300;
    color: var(--body-text);
}

.profile-status {
    display: none;
}

.btn-status {
    display: flex;
    margin-bottom: 8px;
    background-color: transparent;
    width: 100%;
    justify-content: start;
    font-weight: 400;
    font-size: 12px;
    padding-left: 8px;
}

.flex-summary {
    display: flex;
    background-color: transparent;
    width: 100%;
    align-items: center;
    justify-content: start;
}

.header-status-wrapper {
    padding: 8px 16px;
    font-size: 12px;
    border-top: 1px solid var(--repo-border);
}

.header-status {
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 6px;
    color: var(--body-text);
    border: 1px solid var(--repo-border);
}

.header-status:hover {
    color: var(--primary-color);
}

.header-status:hover>svg {
    fill: var(--primary-color);
}

.btn-edit-profile {
    width: 100%;
    margin-bottom: 16px;
}

.organisation {
    display: none;
}

.profile-stats-flex {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 16px;
}

.stats-flex-inner {
    display: flex;
    align-items: center;
}

.stats-divider {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    background-color: var(--body-text);
}

.stats-number {
    margin-right: 5px;
    font-weight: 700;
}

@media (min-width:768px) {
    aside {
        margin-right: 32px;
        position: relative;
        top: -73px
    }
    .profile-img-wrapper {
        display: block;
        margin-bottom: 0px;
    }
    .profile-img {
        width: 30vw;
        height: 30vw;
        max-width: 280px;
        max-height: 280px;
        margin-right: 0px;
        position: relative
    }
    .profile-name {
        padding: 16px 0px;
        z-index: 5;
    }
    .btn-status {
        display: none;
    }
    .profile-status {
        display: flex;
        padding: 7px;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04);
        position: absolute;
        left: 84%;
        bottom: 30px;
        cursor: pointer;
        font-size: 12px;
        transition: all 500 ease-in-out;
    }
    .profile-status.smiley {
        flex-shrink: 0;
    }
    .status-txt {
        display: none;
    }
    .profile-status:hover {
        width: 100px;
        border-radius: 26px;
        color: var(--primary-color);
    }
    .profile-status:hover .status-txt {
        display: block;
    }
    .profile-status:hover>svg {
        margin-right: 5px;
        fill: var(--primary-color)
    }
    .organisation {
        display: block;
        font-weight: 600;
        cursor: pointer;
    }
    .organisation>p {
        font-weight: 500;
        font-size: 16px;
        color: var(--btn-text);
    }
    .organisations-flex {
        margin-top: 8px;
        display: flex;
    }
    .organisation {
        border-radius: 6px;
    }
    .organisations-flex>*+* {
        margin-left: 4px;
    }
}


/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Profile Section End &&&&&&&&&&&&&&&&&&&&&&&&&&& */


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Repo Filter Start &&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

.repo-filter-inner-flex {
    margin-top: 20px;
}

.repo-filters-flex {
    margin-bottom: 6px;
}

input {
    width: 100%;
    font-family: 'Segoe UI', sans-serif;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: var(--body-text);
    border: 1px solid var(--input-border);
    border-radius: 6px;
    outline: none;
    margin-bottom: 10px;
}

input.header-search {
    background-color: transparent;
}

.repo-filters-flex>button {
    width: 100%;
    background-color: var(--green-bg);
    color: white;
    font-weight: 600;
}

.filters-btn-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.2.5px;
    margin-top: -2.5px;
}

.filters-btn-flex>* {
    margin: 2px;
}

.filter-options-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(141, 143, 145, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: var(--btn-text);
}

ul.filters {
    color: var(--body-text);
}

.filters-inner {
    background-color: white;
    border-radius: 12px;
    width: 90%;
}

.filter-heading-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px;
}

.filter>.icon {
    margin-right: 10px;
    margin-left: 0px;
    opacity: 0;
}

.filter>.icon.active {
    opacity: 1;
}

li.filter {
    display: flex;
    align-items: center;
    padding: 16px;
    border-top: 1px solid var(--repo-border);
}

li.filter:last-child {
    border-bottom: none
}

.filter-options-wrapper.hide {
    display: none;
}

@media (min-width: 500px) {
    li.filter {
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .filter-options-wrapper {
        position: absolute;
        top: 40px;
        bottom: auto;
        width: 300px;
        left: -220px;
        z-index: 1000;
        height: auto;
        font-size: 12px;
    }
    .filters-inner {
        background-color: white;
        border-radius: 6px;
        width: 100%;
        box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
    }
    .filter-heading-flex {
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .filters-btn-flex {
        flex-wrap: nowrap;
    }
}

@media (min-width: 768px) {
    .repo-filters-flex {
        display: flex;
        align-items: flex-start;
    }
    .repo-filter-inner-flex {
        flex-shrink: 0;
        flex-grow: 1;
        margin-top: 0px;
        margin-right: 20px;
    }
    .repo-filters-flex>button {
        order: 2;
        width: auto;
        flex-grow: 0;
    }
}

@media (min-width: 1010px) {
    .repo-filters-flex {
        display: flex;
        align-items: flex-start;
    }
    input.filters {
        margin-right: 15px;
    }
    .repo-filter-inner-flex {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin-top: 0px;
        margin-right: 0px;
    }
}


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Repo Filter End &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Repo block Start &&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

.repo-desc-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29px 0px;
    border-top: 1px solid var(--repo-border);
}

.repo-desc-flex:last-child {
    border-bottom: 1px solid var(--repo-border);
}

.repo-desc-block {
    width: 70%;
}

.repo-desc-block>p {
    /* font-size: 12px; */
}

.repo-name-flex {
    display: flex;
    align-items: flex-start;
    color: var(--primary-color);
    margin-bottom: 16px;
    cursor: pointer;
}

.repo-name-flex>a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

.repo-stats-flex,
.stat-flex {
    display: flex;
    flex-wrap: wrap;
}

.stat-flex {
    margin-right: 16px;
    justify-content: center;
    align-items: center;
}


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Repo block End &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/


/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Footer &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    padding: 40px 0px;
    margin-top: 40px;
    border-top: 1px solid var(--repo-border);
    color: var(--primary-color);
}

.copyright {
    color: var(--body-text)
}

ul.footer {
    display: flex;
    justify-content: space-between;
    width: 44%;
}

.footer-logo {
    width: 10%;
    display: flex;
    justify-content: center;
}

.footer-logo-icon {
    cursor: pointer;
    transition: .5s;
    fill: #d1d5da;
}

.footer-logo-icon:hover {
    fill: var(--input-text);
}

.footer-item:hover {
    text-decoration: underline;
}

@media (max-width: 1002px) {
    .footer-logo {
        display: none;
    }
    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    ul.footer {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 8px;
    }
    .footer-item {
        margin-right: 16px;
    }
}


/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Form Page &&&&&&&&&&&&&&&&&&&&&&&&& */

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profileForm {
    padding: 40px;
    background-color: #F6F8FA;
    border-radius: 12px;
}

.login-logo {
    margin: 0 auto;
    width: 48px;
    margin-bottom: 7px
}

.btn-signin {
    width: 100%;
    background-color: var(--green-bg);
    color: white;
    border: 1px solid var(--green-bg);
}

.form-block {
    position: relative;
    height: 40px;
    margin: 25px 0;
    border-radius: 6px;
}

.btn-signin:hover,
.btn-signin:disabled {
    background-color: white;
    color: var(--green-bg);
}

.username-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 12px 10px;
    background-color: white;
    border-radius: 6px;
    transition: all 0.3s;
}

.input-username {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: transparent;
    transition: all 0.2s;
}

input.input-username:focus {
    background-color: white;
}

input.input-username:focus+label {
    top: -18px;
    left: 0px;
    height: 20px;
    z-index: 2;
    display: flex;
    align-items: center;
    margin: 0px 10px;
    border-radius: 5px;
    background-color: var(--green-bg);
    color: white;
}

input.input-username:valid+label {
    top: -18px;
    left: 0px;
    height: 20px;
    z-index: 2;
    display: flex;
    align-items: center;
    margin: 0px 10px;
    border-radius: 5px;
    background-color: var(--green-bg);
    color: white;
}


/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Loader &&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid var(--primary-color);
    width: 25px;
    height: 25px;
    margin: 20px auto;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

.loader.form {
    width: 15px;
    height: 15px;
    margin: 5px auto;
    border-top: 3px solid var(--green-bg);
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& Toast &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.toast-wrapper {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.5s ease-in-out;
    transform: translateY(101%);
}

.toast-wrapper.error {
    background-color: #FF0033;
    transform: translateY(0)
}

.toast-info-flex {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toast-icon {
    min-width: 20px;
    min-height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/images/error.svg');
}

.toast-action-button {
    background-color: white;
    color: black;
    font-size: 13px;
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('/assets/fonts/segoeuil.ttf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('/assets/fonts/segoeui.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('/assets/fonts/seguisb.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('/assets/fonts/segoeuib.ttf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

font-display: swap;